/* About Me */

#Dana{
	height: 240px;
	right: 20px;
	border-radius: 30%;
}

#about{
	
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #D4BABA;
}

#name{
	text-align: center;
	padding-top: 10rem;	

}

/*1) Parallax*/

.parallax-window {
    background: transparent;
    color: white;
}

@media (max-width: 960px){
	#head-window{
		height: 400px;
	}
}

@media (min-width: 961px){
	#head-window{
		height: 400px;
	}
}

.small-window{
	min-height: 375px;
}

.img-source{
	background-color: #1C0B23;
	text-align: right;
	padding-right: 2rem;
}

@media (max-width: 768px){
	.img-source{
		margin-top: -10px;
	}
}



/*3) Bootstrap*/


@media (max-width: 810px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

/*.navbar-brand{
	text-align: right;
}*/

#nav{
	/*font-size: 20px;
	clear: both;
	/*width: 50%;*/
	/*height: 20%;*/
}

.project{
	border: 5px solid;
	margin-left: 0;
	margin-right: 0;
}

.project-pic{
	border: 1px solid;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 200px;
	background-color: #9A709A;
}

.project-summary{
	font-size: 20px;
	padding-top: 5px;
}

footer{
	height: 130px;
	background-color: #7F6F6F;

}

.fa{
	/*margin: 5px;*/
	color: black;
	padding-left: 30px;
}

.fa:hover{
	color: green;
}



