

/*parallax*/
.parallax-window {
    background: transparent;
    color: white;


}

#head-window{
	min-height: 500px;
}

.small-window{
	min-height: 375px;
}

/*general*/

body{
	
	
}

h1{
	text-align: left;
	padding-top: 100px;
	padding-left: 100px;
	
}

#me{
	border-radius: 50%;	
	transform: scale(.6,.6) rotate(90deg);


}

#me-div{
	margin-top: 70px;	
	float: right;
}

#name-div{
	
}

.label{
	font-size: 20px;
}

/*bootstrap*/
.row{
	background-color: #1C0B23; 
	color: white;
	font-size: 20px;
	margin-top: -10px;
	padding-top: 20px;
	padding-bottom: 20px;
}



.info{}


/*nav*/

.navbar-brand{
	text-align: left;
}

#nav{
	font-size: 20px;
	clear: both;
	width: 100%;
	height: 20%;
}

.dropdown ul li a{
	font-size: 20px;
	color: gray;
}

/* Education */

#edu{
	border-left: 1px solid white;
	padding-left: 40px;
}

/* Courses */

#classes{
	border-left: 1px solid white;
	
}

#classes ul{
	margin-left: -15px;
	padding-left: -15px;
	list-style: none;
}

#classes ul li{
	padding-top: 5px;
}
/* skills */

#skills{
	border-left: 1px solid white;
	padding-left: 40px;
}


