/*parallax*/

.parallax-window {
    background: transparent;
    color: white;
}

#head-window{
	min-height: 500px;
}

.small-window{
	min-height: 375px;
}

.img-source{
	background-color: #1C0B23;
	text-align: right;
	padding-right: 2rem;
	margin-top: 0;
}

/*general*/

h1{
	text-align: center;
	padding-top: 10rem;	
}

#me{
	border-radius: 50%;	
	transform: scale(.6,.6) rotate(90deg);
}

#me-div{
	margin-top: 70px;	
	float: right;
}

.label{
	font-size: 20px;
}

/*bootstrap*/

#edu, #work, #honors, #classes, #skills{
	background-color: #1C0B23; 
	color: white;
	font-size: 20px;
	margin-top: -10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.col-sm-9{
	border-left: 1px solid white;
}

/*nav*/
.navbar-brand{
	text-align: left;
}

#nav{
	font-size: 20px;
	clear: both;
	width: 100%;
	height: 20%;
}

.dropdown ul li a{
	font-size: 20px;
	color: gray;
}

/* Honors, Employment */
.award, #work .row{
	margin-bottom: 2rem;
}

/* Courses */
#classes ul{
	margin-left: -40px;
	list-style: none;
}

#classes ul li{
	padding-top: 5px;
}

/* skills */
#icon-labels{
	margin-top: 5px;
	text-align: left;
}